<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>

  <body>
    <h1>This is the article page</h1>
    <div class="single-article-container">
      <% articles.forEach((article) => { %>
      <h3 class="title"><%= article.title %></h3>
      <small class="date"><%= article.date%></small>
      <p class="desc"><%= article.description%></p>

      <% }) %>
    </div>
  </body>
</html>
