<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <div class="single-article-container">
      <h1><%= article.title %></h1>
      <small><%= article.createdAt.toLocaleDateString() %></small>
      <p><%= article.markdown %></p>
      <a href="/articles" class="back-btn">Back to Articles</a>
    </div>
  </body>
</html>
