@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,500;1,600;1,700&family=Zen+Old+Mincho:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font */
  --header-font: "Zen Old Mincho", serif;
  --body-font: "Open Sans", sans-serif;

  /* color */
  --primary-color: hsl(71, 65%, 48%);
  --grey-color: hsl(0, 1%, 38%);
  --light-grey-color: #faf2f2;
  --blue-color: hsl(212, 43%, 46%);
  --green-color: hsl(140, 59%, 50%);
  --red-color: hsl(0, 53%, 55%);

  /* others */
  --tiny-radius: 0.5em;
  --border-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

.new-article-btn {
  display: block;
  color: black;
  text-align: center;
  max-width: 20rem;
  font-size: 2rem;
  padding: 1rem;
  margin: 2rem auto;
  background: var(--primary-color);
  color: rgb(129, 80, 65);
}

.container {
  width: 50%;
  margin: 0 auto;
}
.article-container {
  padding: 2rem;
  box-shadow: var(--border-shadow);
  margin: 2rem 0;
}

.article-container .title {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 2.5rem;
}

.article-container .date {
  display: block;
  font-size: 1.3rem;
  margin: 1rem 0 1.5rem;
  color: var(--grey-color);
}

.article-container .desc {
  font-family: var(--body-font);
  font-size: 1.5rem;
}

.article-container .btn {
  margin-top: 2rem;
  padding: 1rem;
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  font-family: var(--body-font);
  margin-right: 1rem;
  border-radius: var(--tiny-radius);
}

.article-container .read-more-btn {
  background: var(--blue-color);
}
.article-container .edit-btn {
  background: var(--green-color);
}
.article-container .delete-btn {
  background: var(--red-color);
}
.form-group {
  margin: 1.5rem 0;
}
.form-group label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-group input,
textarea {
  width: 100%;
  padding: 1rem;
}
.form-group input {
  height: 3rem;
}

.form-group textarea {
  height: 15rem;
}

.form-container a,
button {
  all: unset;
  color: black;
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.form-container a {
  background: pink;
  margin-right: 1rem;
}

.form-container button {
  background: yellowgreen;
}

.not-found-container {
  font-family: var(--body-font);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found-container h1 {
  font-size: 8rem;
}

.not-found-container p {
  font-size: 2rem;
}

.back-btn {
  all: unset;
  display: inline-block;
  font-family: var(--body-font);
  padding: 1rem;
  background: var(--blue-color);
  color: white;
  margin-top: 2rem;
  border-radius: var(--tiny-radius);
  font-size: 1.2rem;
  cursor: pointer;
}

/* *................................single article.......................... */

.single-article-container {
  width: 50%;
  min-width: 60rem;
  background: var(--light-grey-color);
  margin: 5rem auto;
  padding: 3rem 2rem;
  box-shadow: var(--border-shadow);
}

.single-article-container h1 {
  font-size: 4rem;
}
.single-article-container small {
  display: block;
  font-size: 1.6rem;
  color: var(--grey-color);
  font-family: var(--body-font);
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.single-article-container p {
  font-size: 1.6rem;
  font-family: var(--body-font);
}
