@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,500;1,600;1,700&family=Zen+Old+Mincho:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-font: "Zen Old Mincho", serif;
  --body-font: "Open Sans", sans-serif;
  --primary-color: rgb(172, 201, 42);
  --grey-color: hsl(0, 1%, 38%);
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

.new-article-btn {
  display: inline-block;
  color: black;
  font-size: 2rem;
  padding: 1rem;
  margin: 2rem auto;
  background: var(--primary-color);
  color: rgb(129, 80, 65);
}

.single-article-container {
  padding: 2rem 1rem;
  border: 0.1rem solid black;
}

.single-article-container .title {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 2.5rem;
}

.single-article-container .date {
  display: block;
  font-size: 1.3rem;
  margin: 1rem 0 1.5rem;
  color: var(--grey-color);
}

.single-article-container .desc {
  font-family: var(--body-font);
  font-size: 1.5rem;
}

.single-article-container .btn {
  margin-top: 2rem;
  padding: 1rem;
  display: inline-block;
  font-size: 1.3rem;
  color: white;
}

.single-article-container .read-more-btn {
  background: blue;
}
.single-article-container .edit-btn {
  background: green;
}
.single-article-container .delete-btn {
  background: red;
}
